/*$primaryColor: #E6E6E6;
$primaryDarkColor: #D7D7D7;
$primaryLightColor: #F5F5F5;*/
$primaryColor: #f2f2f3;
$primaryDarkColor: #dfdfe0;
$primaryLightColor: #f1f1f2;

/*$accentColor: #ff3300;*/

$accentColor: #ffc107;
$accentDarkColor: #ff8f00;
$accentLightColor: #ffe082;

$accentTextColor: #000000;

@import '../sass/theme/_theme';