/*$primaryColor: #E6E6E6;
$primaryDarkColor: #D7D7D7;
$primaryLightColor: #2D2D2D;
*/
$primaryColor: #4a6882;
$primaryDarkColor: #324658;
$primaryLightColor: #5c82a2;

/*$accentColor: #ff3300;*/

$accentColor: #e55a37;
$accentDarkColor: #e17c63;
$accentLightColor: #e33d13;

$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';